// Place all the styles related to the public/top_page controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.faq_list {
  list-style-type: none;
}

.faq_list_question {
  cursor: pointer;
}

.faq_list_answer {
  display: none;
}

/* アコーディオンメニュー全体のサイズ・位置 */
.ac {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* クリック領域 */
.ac-parent {
  height: 50px;
  border-bottom: 1px solid #fff;
  background-color: #f97148;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

/* クリックしたら表示される領域 */
.ac-child {
  display: none;
  padding: 2em 1em;
  background-color: #ffccbc;
  text-align: center;
}
