// Place all the styles related to the public/top_page controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
.faq {
  max-width: 640px;
  margin: 0 auto;
  .faq_list {
    list-style-type: none;
    padding: 0;

    li {
      border-top: 1px solid silver;
      padding: 15px 0;

      &:last-child {
        border-bottom: 1px solid silver;
      }

      .faq_list_question {
        cursor: pointer;
      }

      .faq_list_answer {
        display: none;
      }
    }
  }
}

#about_images{
  .slick-prev {
    left: 0;
    z-index: 1;
  }
  .slick-next {
    right: 0;
  }

  .slick-prev:before, .slick-next:before {
    color: #000;/*黒にする*/
    opacity: 1;/*デフォルトは.75が指定されている*/
  }

  .prev_icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
    width: 30px;
    z-index: 1;
  }
  .next_icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0,-50%);
    width: 30px;
    z-index: 1;
  }
}
