// Place all the styles related to the public/top_page controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-page-container {
  max-width: 900px;
  margin: 0 auto;
}

.faq {
  .faq_list {
    list-style-type: none;
    padding: 0;

    li {
      border-top: 1px solid silver;
      padding: 15px 0;
      position: relative;

      &:last-child {
        border-bottom: 1px solid silver;
      }

      .faq_list_question {
        cursor: pointer;
      }
      .faq_list_question p::after,
      .faq_list_question.open p::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      .faq_list_question p::after {
        content: "▲"

      }
      .faq_list_question.open p::after {
        content: '▼'
      }

      .faq_list_answer {
        display: none;
      }
    }
  }
}

#about_images{
  .slick-prev {
    left: 0;
    z-index: 1;
  }
  .slick-next {
    right: 0;
  }

  .slick-prev:before, .slick-next:before {
    color: #000;/*黒にする*/
    opacity: 1;/*デフォルトは.75が指定されている*/
  }

  .prev_icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
    width: 30px;
    z-index: 1;
  }
  .next_icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0,-50%);
    width: 30px;
    z-index: 1;
  }
}

.top_image_background {
  position: relative;
  width: 800px;
  height: 300px;
  background-image: url("<%= asset_path('top_image.png') %>");
  background-size: cover;
  .top_image_background_box{
    position: absolute;
    width: 800px;
    height:300px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top:200px;
    .top_text {
      color: white;
    }
  }
}

.top_page_main_image img{
  width: 100px;
}

.top_image{
  position: relative;
  width: 100%;
  height: 600px;
  background: url("top_page/top_image.png")
  center / cover;
  line-height: 0;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_image::after{
  content: ' ';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 50px;
}

.text_box{
  z-index: 3;
  color: white;
  text-align: center;
  p{
    margin: 32px;
  }
  .top_title{
    text-align: center;
    font-size: 30px;
    color: white;
  }
}

//モーダル関連
.article_create_modal {
  position: relative;
  .content {
    margin-top: 20px;
    .js-modal-open {
      color: white;
    }
  }
  .js-modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
  }
  .js_modal_bg {
    background:rgba(0,0,0,0.7);
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  .modal_content {
    background-color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 300px;
    padding: 50px;
  }
}
