<div class="container">
  <div class="row">
    <div class="col">
      <% @paid_article_notifications.each do |paid_article_notification| %>
        <div class="card">
            <p><%= paid_article_notification.published_at.strftime("%Y/%-m/%-d") %></p>
            <p>商品名: <%= paid_article_notification.paid_article.title %></p>
            <p><%= paid_article_notification.title %></p>
          <%= link_to '詳しくはこちら', [:public, :mypage, paid_article_notification] %>
        </div>
      <% end %>
    </div>
  </div>
</div>
