<h1>コンテンツ</h1>
<%= render 'public/paid_articles/contents/form', paid_article: @paid_article, paid_article_content: @paid_article_content %>
<style>
    .global_footer {
        display: none;
    }
</style>
