<section class="articles_box container-fluid">
  <div class="articles_list">
    <% @articles.each do |article| %>
      <%= link_to public_article_path(article) do %>
        <div class="article_card card">
          <div class="card-body">
            <p class="card-title"><%= article.title %></p>
            <p class="card-text"><%= article.writer_name %></p>
            <p class="card-text"><%= l(article.published_at, format: :long) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
