<div class="faq">
  <div class="secondary_heading text-center">
    <span>FAQ</span>
    <h2>よくある質問</h2>
  </div>
  <ul class="faq_list">
    <li>
      <div class="faq_list_question">
        <p>利用料はかかりますか？</p>
      </div>
      <p class="faq_list_answer">利用料として月額2000円がかかります。</p>
    </li>
  </ul>
</div>
