<div class="faq">
  <div class="secondary_heading text-center">
    <span>FAQ</span>
    <h2>よくある質問</h2>
  </div>
  <ul class="faq_list">
    <li>
      <div class="faq_list_question">
        <p>ShareBrailでできることは？</p>
      </div>
      <p class="faq_list_answer">ShareBrainはエンジニアは情報共有サイトです。多くのエンジニアの知識が集まった当サイトにて、多くのエンジニアの助けとなるでしょう。</p>
    </li>
    <li>
      <div class="faq_list_question">
        <p>利用料はかかりますか？</p>
      </div>
      <p class="faq_list_answer">利用料として月額2000円がかかります。</p>
    </li>
    <li>
      <div class="faq_list_question">
        <p>Githubとの連携はできますか？</p>
      </div>
      <p class="faq_list_answer">現在のところ連携はできません。</p>
    </li>
    <li>
      <div class="faq_list_question">
        <p>販売手数料は？</p>
      </div>
      <p class="faq_list_answer">販売価格の3%が決済手数料となります。</p>
    </li>
  </ul>
</div>
