<section class='article-list-slider js-article-slider'>
  <div id="top-page-articles">
    <% articles.each do |article| %>
      <div class="article_card card">
        <div class="card-body">
          <p class="card-title"><%= article.title %></p>
          <p class="card-text"><%= article.writer_name %></p>
          <p class="card-text"><%= l(article.published_at, format: :long) %></p>
        </div>
      </div>
    <% end %>
  </div>
  <script type="text/javascript" charset="utf-8">
      $(document).on('turbolinks:load', function () {
          $('#top-page-articles').slick({
              arrows: true,
              autoplay: false,
              slidesToShow: 4,
              swipe: true,
              accessibility: true,
              dots: true,
              pauseOnFocus: false,
              pauseOnHover: false
          });
      });
  </script>
</section>
